.DS_Store
node_modules/
/src/node_modules/@sapper/
.vscode/
yarn-error.log
/cypress/screenshots/
/__sapper__/

# For Netlify functions
.netlify
.env

# We use yarn
package-lock.json

# contentful seed
.contentful.json

# sveltekit
.svelte-kit
build/
*.cpuprofile