@import url('https://use.typekit.net/mei6ncn.css');

@font-face {
  font-family: 'Visby CF';
  src: url('fonts/VisbyCF-Bold.woff2');
}

:root {
  --backing-pink: #fffdfc;
  --backing-pink-pronounced: #fbf6f2;
  --primary-red: #ff7574;
  --primary: #f38d6a;
  --primary-yellow: #ffc55a;
  --text-color: #514b33;
  --shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  --shadow-hover: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  --nav-height: 6rem;
  --body-font-size: 16px;
  --content-max-width: 120rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

p {
  font-size: var(--body-font-size);
  color: var(--text-color);
}
section {
  margin-bottom: 10rem;
  max-width: var(--content-max-width);
  margin: auto;
}

button {
  background: none;
  border: none;
}

a,
a:visited {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}

a:hover,
a:active {
  color: var(--primary-yellow);
}

button {
  background: var(--primary);
  padding: 1em 2em;
  border-radius: 1em;
  letter-spacing: 0;
}

body {
  margin: 0;
  font-family: interstate, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.5;
  color: #333;
}

h1,
h2 {
  margin-bottom: 1rem;
  font-family: 'Visby CF';
  font-weight: 400;
  line-height: 1.2;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 24px;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}
